RewriteEngine On

# If the requested resource is an API endpoint, use api/index.html
RewriteCond %{REQUEST_URI} =/api/index.php
RewriteRule ^ - [L]

RewriteCond %{REQUEST_URI} /api/
RewriteRule .* /api/index.php [L]

# If an existing asset or directory is requested go to it as it is
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# If the requested resource doesn't exist, use index.html
RewriteRule ^ /index.html
